{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Migrations",
            "Controller",
            "EventSubscriber",
            "OpenApi",
            "Kernel.php",
            "Domain/Shared/SimpleSerializer.php",
            "/\\Transformer\\.php/"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 78
}